<div class="form">
    <%= form_tag(schedules_path, method: "get", class: ' float-left') do %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Search Gigs And Venues") %>
    <% end %>

    <%#= form_tag(venues_path, method: "get", class: 'float-right') do %>
    <%#= text_field_tag(:name) %>
    <%#= submit_tag("Search Venues") %>
    <%# end %>
</div>